language: java

jobs:
  include:
    - stage: build
      if: branch != master OR type IN (pull_request)
      jdk: oraclejdk9
      script:
        - mvn clean verify
    - stage: build
      if: branch != master OR type IN (pull_request)
      jdk: oraclejdk8
      script:
        - mvn clean verify
    - stage: build
      if: branch = master AND type IN (push)
      jdk: oraclejdk9
      script:
        - mvn clean verify
    - stage: build
      if: branch = master AND type IN (push) AND repo = bootique/bootique-logback
      jdk: oraclejdk8
      script:
        - mvn clean source:jar javadoc:javadoc deploy --settings travis_settings.xml
    - stage: build
      if: branch = master AND type IN (push) AND repo != bootique/bootique-logback
      jdk: oraclejdk8
      script:
        - mvn clean verify

# travis encrypt -r bootique/bootique-logback "CI_DEPLOY_USERNAME='name'"
# travis encrypt -r bootique/bootique-logback "CI_DEPLOY_PASSWORD='password'"
env:
  global:
    - secure: "aTAORIvBK28SK1alSFeDmkZ2IPCdu4voaYeMedLkXLGPmp9TxezrI6OcPLfvAGHlMf4g8wizDRHNJnW3FfCQRcPvkKIHNwOc0G3yZmy3OMU6hQlX2lUxYWRFrP1kZO0IEB44wpyd+GFb/Vx2Cskpok9yMCDM+e07+wR41CHtHFiiy5S5BMmPTMjYsrfWYK8/Z/0hdddwNRRj04yTQCdHizHITBd1Q2sirpwysfL5Gp6rLbb04Qi2MOqby6i0H8CJXWp/zFdJBBZhNgPEj1sY4Hb15LjKdEYsl+dH5+Ha6xuYpKizMk8IOxZGjqLtSXBfMW6JsPiW7vTPHnskycZP8bLNcPRdNcmvJeF/zvuM8pApHy1w+9wgyuKxg3jBThS6BoS7EdN2HRAHHuKr9lqZMg5KIluIO0pK9KfkXu+3W+6CHz+jHjRIIXU+LZPzxUU7VmYyj5XRI2/UTcNXI4hk/+hNVXZWC+m37/Y7L3owrn/+FKbDMBts7LrjP6mFfsc83vlqM394IBVU7ceozr0cuJpw8c+5ujJTq+k0ovSx62r4Sl25H9OUyMR3b5fgIwgvqseokSrPVTgljtRPFcBf7DBENdZJ6O4W38+bE8d6xmFdLzMYp4LHiAsByUrA2kxh57t8t9DhUTR/3mwJH2yWkCN3OCumHb3rKqQO+L/J/LY="
    - secure: "ytvUuFiy3LlVm3gcZPJIChviq0DSd/qr76m9QpGbhPjRFeOWmJzHCmXUneOfkMlEfLSwoaWDRB/oWPItLctcQax8vpgWk72P8ScMq1x4l+Vanrj72jGaxuS0KKJ/4DzkrXS7GCgLC6LPRjUl2XF1yRLG+BczNg+y8GtubaAoN2ezCknQiryHMs9vALejg6ezOo1ta9RTLWzVrgs65BIXwzvK5LyOzyvU8gVrA6ShhCKMnQnlG6stIssyb0W8m+SmL/E2mGBBqpcebl42nnU2e6XLPkZEZ8DMsDDQFM05hbTJ6JkWPtPfB3PUKbxdFRtOMnL1s1BexApV4KoIoC/VVHIQBMOGRu7j0ke9Lw7AhPFG7ypdupzWzMGej6Xh7y6XqKbp3Xr8oFE+DfYmsOQAehsLRuzPz8XyDkBj7LjfnitQaznw2/Z0YHh5eXDC/ZcdgRSufnoheG15je6i/WzpDI63TmMhNW73zQ/KZIcs4kd9MPs5LKAvs+LyxhvYsLtorSB8YQDh1WQa09KaiCxXgd5pA4XpP0u4CrAwlq1TP/l0hjxPqYaKCYbhTWM2Op3KqCWMsmSSlgMduOs0JdskH/8Md2viraQv9iKbO6q4lZ+nB8YrVMPWIajTmcfeFi3f+jivtuA/FVgK/A75tBxbn3JzH2uKQQKP1nbEY3oWlFc="
